<div class="nav-header">
    
    <input routerLink="/pizzaria/enderecos" type="button" class="btn btn-outline-primary" value="Endereco"/>
    <input routerLink="/pizzaria/sabor" type="button" class="btn btn-outline-primary" value="Sabores"/>
    <input routerLink="/pizzaria/clientes" type="button" class="btn btn-outline-primary" value="Clientes"/>
    <input routerLink="/pizzaria/funcionario" type="button" class="btn btn-outline-primary" value="Funcionarios"/>
    <input routerLink="/pizzaria/produto" type="button" class="btn btn-outline-primary" value="Produtos"/>
    <input routerLink="/pizzaria/pizza" type="button" class="btn btn-outline-primary" value="Pizza"/>
    <input routerLink="/pizzaria/pedido" type="button" class="btn btn-outline-primary" value="Pedidos"/>
 

</div>
