<div class="nav-header">
    <div class="logo">
    <img src="/assets/img/pizzacat.png" alt="..." width="100px">VanderleiPizzas
</div>
    <div class="inputs">
    <input routerLink="enderecos" type="button" class="btn btn-outline-primary" value="Endereco"/>
    <input routerLink="sabores" type="button" class="btn btn-outline-primary" value="Sabores"/>
    <input routerLink="clientes" type="button" class="btn btn-outline-primary" value="Clientes"/>
    <input routerLink="funcionarios" type="button" class="btn btn-outline-primary" value="Funcionarios"/>
    <input routerLink="produtos" type="button" class="btn btn-outline-primary" value="Produtos"/>
    <input routerLink="pizzas" type="button" class="btn btn-outline-primary" value="Pizza"/>
    <input routerLink="pedidos" type="button" class="btn btn-outline-primary" value="Pedidos"/>
</div>
    <input routerLink="" type="button" class="btn btn-outline-danger" value="Log-out"/>

</div>