
<div class="tudo">
    <div>
<p>Listagem de Pedidos</p>
<table> 
    <tr>
        <th>Status</th> 
        <th>valorTotal</th>
        <th>Data e hora</th>
        <th>Cliente</th>
        <th> <button class="btn btn-outline-primary" (click)="adicionar(modal1)" >+</button> </th> 
    </tr>
    
    <tr *ngFor="let pedido of lista; let i = index">
        <td scope="col">{{pedido.status}}</td>
        <td scope="col">{{pedido.valorTotal}}</td>
        <td scope="col">{{pedido.dataHora}}</td>
        <td scope="col">{{pedido.cliente.nome}}</td>
        <td >
            <button class="btn btn-outline-primary" (click)="editar(modal1, pedido, i)">🗒️</button>
            <button class="btn btn-outline-danger" (click)="excluir(pedido.id)">🗑️</button>
          </td>
    </tr>

</table>
</div>

</div>

<ng-template #modal1 let-modal>
  <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
     
    <app-pedido-details [pedido]="PedidoSelecionadoParaEdicao" (retorno)="addOuEditarPedido($event)" ></app-pedido-details>
      
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>