
<div class="tudo">
    <div>
<p>Listagem de pizzas</p>
<table> 
    <tr>
        <th>Id</th>
        <th>Tamanho</th>
        <th>Valor</th>
        <th>Sabores</th>

        <th> <button class="btn btn-outline-primary" (click)="adicionar(modal1)" >+</button> </th> 
    </tr>
    <tr *ngFor="let pizza of lista; let i = index">
        <td scope="col">{{pizza.id}}</td>
        <td scope="col">{{pizza.tamanho}}</td>
        <td scope="col">R${{pizza.valor}}</td>
      <td scope="col">
          <!-- Exibir os sabores da pizza -->
          <span *ngFor="let sabor of pizza.sabores">
            {{sabor.nome}},
          </span>
            <td *ngIf="!modoLancamento" > <button type="button" class="btn btn-outline-primary" (click)="editar(modal1, pizza, i)">🗒️</button> </td>
            <td *ngIf="modoLancamento" > <button type="button" class="btn btn-outline-primary" (click)="lancamento( pizza)">Lançar</button> </td>
            <button class="btn btn-outline-danger" (click)="excluir(pizza.id)">🗑️</button>
         
    </tr>

</table>
</div>

</div>

<ng-template #modal1 let-modal>
  <div class="modal-header">
      <h4 class="modal-title">Pizza</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
     
    <app-pizza-details [pizza]="PizzaSelecionadoParaEdicao" (retorno)="addOuEditarPizza($event)" ></app-pizza-details>
      
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>