<form (ngSubmit)="salvar()">
    <div class="cadastro">
        <h1>Nome:</h1>
        <input type="text" class="form-control" name="exampleInputText1" aria-describedby="emailHelp"
        [(ngModel)]="cliente.nome">
      
        <h1>Cpf:</h1>
        <input type="text" class="form-control" name="exampleInputPassword1" [(ngModel)]="cliente.cpf">

        <h1>Telefone:</h1>
        <input type="text" class="form-control" name="exampleInputPassword1" [(ngModel)]="cliente.telefone">
        <br><br>
        <button type="button" class="btn btn-primary" (click)="lancar(modal1)">Lançar endereco</button> 

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">CEP</th>
                    <th scope="col">rua</th>
                    <th scope="col">bairro</th>
                    <th scope="col">numero</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let endereco of cliente.endereco; let i = index">
                    <th scope="row">{{ endereco.id }}</th>
                    <td> {{ endereco.cep }} </td>
                    <td> {{ endereco.rua }} </td>
                    <td> {{ endereco.bairro }} </td>
                    <td> {{ endereco.numero }} </td>
                    <td> <button type="button" class="btn btn-primary" (click)="excluir(endereco,i)">Excluir</button> </td>
                </tr>
            </tbody>
        </table>

        
      
      
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
      
    </form>
    


<ng-template #modal1 let-modal>
  <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
     
      <app-endereco-list [modoLancamento]="true" (retorno)="retornoProdutosList($event)" ></app-endereco-list>
      
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>