
<div class="tudo">
    <div>
<p>Listagem de sabores</p>
<table> 
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>ingredientes</th>
        <th> <button class="btn btn-outline-primary" (click)="adicionar(modal1)" >+</button> </th> 
    </tr>
    
    <tr *ngFor="let sabor of lista; let i = index">
        <td scope="col">{{sabor.id}}</td>
        <td scope="col">{{sabor.nome}}</td>
        <td scope="col">{{sabor.ingredientes}}</td>
            <td *ngIf="!modoLancamento" > <button type="button" class="btn btn-outline-primary" (click)="editar(modal1, sabor, i)">🗒️</button> </td>
            <td *ngIf="modoLancamento" > <button type="button" class="btn btn-outline-primary" (click)="lancamento(sabor)">Lançar</button> </td>          
            <button class="btn btn-outline-danger" (click)="excluir(sabor.id)">🗑️</button>

    </tr>

</table>
</div>

</div>

<ng-template #modal1 let-modal>
  <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
     
    <app-sabor-details [sabor]="SaborSelecionadoParaEdicao" (retorno)="addOuEditarSabor($event)" ></app-sabor-details>
      
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>