<form (ngSubmit)="salvar()">
    <div class="cadastro">
        <h1>Cliente:</h1>
        <select class="form-control" name="cliente" [(ngModel)]="pedido.cliente.id">
            <option *ngFor="let cliente of clientes" [value]="cliente.id">{{cliente.nome}}</option>
          </select>
        <h1>Funcionario:</h1>
        <select class="form-control" name="funcionario" [(ngModel)]="pedido.funcionario.id">
            <option *ngFor="let funcionario of funcionarios" [value]="funcionario.id">{{funcionario.nome}}</option>
          </select>

        <h1>Observação:</h1>
        <input type="text" class="form-control" name="exampleInputText1" aria-describedby="emailHelp"
        [(ngModel)]="pedido.observacao">


        <h1>ValorTotal:</h1>
        <input type="text" class="form-control" name="exampleInputText4" aria-describedby="emailHelp"
        [(ngModel)]="pedido.valorTotal">

        <h1>Status:</h1>
        <select class="form-control" name="status"  [(ngModel)]="pedido.status">

            <option value="AGUARDANDO_PREPARO">AGUARDANDO_PREPARO</option>
            <option value="PREPARANDO">PREPARANDO</option>
            <option value="PRONTO">PRONTO</option>
            <option value="EM_ENTREGA">EM_ENTREGA</option>
            <option value="ENTREGUE">ENTREGUE</option>

          </select>
      
        
<br><br>
        <button type="button" class="btn btn-primary" (click)="lancar(modal1)">Lançar pizza</button>
      <br><br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Valor</th>
                    <th scope="col">Tamanho</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pizzas of pedido.pizzas; let i = index">
                    <td> {{ pizzas.valor }} </td>
                    <td> {{ pizzas.tamanho }} </td>
                    <td> <button type="button" class="btn btn-primary" (click)="excluirPizza(pizzas,i)">Excluir</button> </td>
                </tr>
            </tbody>
        </table>

        
       
        <button type="button" class="btn btn-primary" (click)="lancar(modal2)">Lançar produto </button> 
<br><br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let produtos of pedido.produtos; let i = index">
                    <td> {{ produtos.nome }} </td>
                    <td> {{ produtos.valor }} </td>
                    <td> <button type="button" class="btn btn-primary" (click)="excluirProduto(produtos,i)">Excluir</button> </td>
                </tr>
            </tbody>
        </table>

      <br><br>

      
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>

    </form>


    <ng-template #modal1 let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Modal title</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
           
            <app-pizza-list [modoLancamento]="true" (retorno)="retornoPizzasList($event)" ></app-pizza-list>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
    </ng-template>

    <ng-template #modal2 let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Modal title</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
           
            <app-produto-list [modoLancamento]="true" (retorno)="retornoProdutoList($event)" ></app-produto-list>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
    </ng-template>