
<div class="tudo">
    <div>
<p>Listagem de produtos</p>
<table> 
    <tr>
        <th>id</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Valor</th>
        <th> <button class="btn btn-outline-primary" (click)="adicionar(modal1)" >+</button> </th> 
    </tr>
    
    <tr *ngFor="let produto of lista; let i = index">
        <td scope="col">{{produto.id}}</td>
        <td scope="col">{{produto.nome}}</td>
        <td scope="col">{{produto.descricao}}</td>
        <td scope="col">R${{produto.valor}}</td>
        <td>
             <button *ngIf="!modoLancamento" type="button" class="btn btn-outline-primary" (click)="editar(modal1, produto, i)">🖋️</button> 
            <button *ngIf="modoLancamento" type="button" class="btn btn-outline-primary" (click)="lancamento(produto)">Lançar</button> 
            <button class="btn btn-outline-danger" (click)="excluir(produto.id)">🗑️</button>
        </td>
    </tr>

</table>
</div>

</div>

<ng-template #modal1 let-modal>
  <div class="modal-header">
      <h4 class="modal-title">Produto</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
     
    <app-produto-details [produto]="ProdutoSelecionadoParaEdicao" (retorno)="addOuEditarProduto($event)" ></app-produto-details>
      
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>