
<div class="tudo">
    <div>
<p>Listagem de clientes</p>
<table> 
    <tr>
        <th>ID</th> 
        <th>Nome</th> 
        <th>CPF</th>
        <th>Telefone</th>
        <th> <button class="btn btn-outline-primary" (click)="adicionar(modal1)" >+</button> </th> 
    </tr>
    
    <tr *ngFor="let cliente of lista; let i = index">
        <td scope="col">{{cliente.id}}</td>
        <td scope="col">{{cliente.nome}}</td>
        <td scope="col">{{cliente.cpf}}</td>
        <td scope="col">{{cliente.telefone}}</td>
        <td >
            <button class="btn btn-outline-primary" (click)="editar(modal1, cliente, i)">🖋️</button>
            <button class="btn btn-outline-danger" (click)="excluir(cliente.id)">🗑️</button>
          </td>
    </tr>

</table>
</div>

</div>

<ng-template #modal1 let-modal>
  <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
     
    <app-cliente-details [cliente]="ClienteSelecionadoParaEdicao" (retorno)="addOuEditarCliente($event)" ></app-cliente-details>
      
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>